       {% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}



                    <div id="page-content">
                       <style>

     .dataTables_length{
                                position: absolute;
                                width: 100px;
                               
                                
                                }
                            
                                
    </style>     
               
                        
                        
                        
         <!-- Filtros de la tabla -->               
                        <script>
 
$(document).ready(function(){
     $('#entrevistas').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [

		        { type: "text" },
		        { type: "select", values: [ 'Coronel' , 'CQQ' , 'PTLA' , 'PUQ' , 'SAI' , 'San Vicente' , 'San Vicente, Coronel'  , 'VAP' , 'VAP/SAI' ]  },
                                        { type: "text" },
		        { type: "select", values: [ 'Carne' , 'Celulosa' , 'Cobre' , 'Lana' , 'Madera' , 'Reefer' , 'Retail' , 'Salmón' , 'Transversal' , 'Uva' ,'Vino' ]  },
                                      
                                      { type: "select", values: [ 'Agencia de Aduana' , 'Concesionario' , 'Depósito de contenedores' , 'Embarcador' , 'Empresa portuaria' , 'Exportador' , 'Freight Forwarder'  , 'Importador' , 'Naviera' , 'SAG' , 'SERNAPESCA' , 'Servicio nacional de Aduanas'  , 'Transportista ferroviario'  , 'Transportista rodoviario' ]  },
                                      
                                      
                                        { type: "text" },
				]

		});
});

             </script>
             
             
                            </script>
{% block entrevista %}
                            <h3>Listados archivos de  Entrevistas</h3>
	<table class="table"  id="entrevistas" >
		<thead>
			<th width="10%">Region</th>
			<th width="10%">Puerto</th>
			<th width="10%">Codigo Ficha</th>
			<th width="10%">Nombre Cadena</th>
			
			<th>Actor</th>
                                                 <th>Archivos</td>
		</thead>
		<tbody>
			{% for entrevista in entrevista %}
				<tr>    
                                    <td>{{entrevista.regiones.numero}}</td>
                                    <td>{{entrevista.puertos.nombre}}</td>
                                    <td>{{entrevista.codigoFicha}}</td>
                                    <td>{{entrevista.nombreCadena}}</td>
                                    <td>{{entrevista.tipoActor}}</td>
                                    <td>

                                    {% set archivo = entrevista.archivosentrevistas %}
                                     
                                        {% for archivo in archivo %}
                                    
                                        <a href="../web/archivos/entrevistas/{{archivo.url}}.pdf" target="_blank">Archivo</a>
                               
                                        
                                        {% endfor %}
                                        
                                        
                                        
                                        
                                    
                                    
                                    </td>
                                    
					
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
                    </div><!-- #page-content -->
                </div><!-- #page-main -->
            </div><!-- #page-main-wrapper -->
        </div><!-- #page-wrapper -->
    </body>
</html>