
       {% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}
                    


<style>

     .dataTables_length{
                                position: absolute;
                                width: 100px;
                               
                                
                                }
                            
                                
    </style>
    
    


 <script>
 
 
$(document).ready(function(){
     $('#focusGroup').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [

		        { type: "text" },
		        { type: "text" },
                                        { type: "text" }
	
		  

				]

		});
});

             </script>
             
             




<div id="page-content">
                        
             
                        
                        
{% block listarFocusGroup %}
    
                <h3>Listados archivos de  Focus group  </h3>
	<table class="table" id="focusGroup">
		<thead>
			<th>Puertos</th>
			<th>Transacciones</th>
			<th>Categorizaciones</th>
		<thead>
		<tbody>
		{% for focusgroup in focusgroup %}
		<tr>
			<td>{{focusgroup.puertos.nombre}}</td>
                        <td>{{focusgroup.trascripciones}} <a href=" ../web/archivos/focusgroup/{{focusgroup.trascripciones}}.pdf"> Archivo</a> </td>
			<td>{{focusgroup.categorizaciones}}  <a href=" ../web/archivos/focusgroup/{{focusgroup.categorizaciones}}.pdf"> Archivo</a></td>
		</tr>
                
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
    
    
                    </div><!-- #page-content -->
                </div><!-- #page-main -->
            </div><!-- #page-main-wrapper -->
        </div><!-- #page-wrapper -->
    </body>
</html>                        