{####################################################
    Lista el contenido de la base de datos Estudio.
#####################################################}
{% include "OpltdaPaginasBundle:Default:estPrincipal.html.twig" %}


<style>

     .dataTables_length{
                                position: absolute;
                                width: 100px;  }
     .text_filter{
         
         width: 200px;
         }
         
         th{
             
                   width: 200px;
             }
                                
                            
</style>

 <script>
     
$(document).ready(function(){
     $('#Estudio').dataTable()
		 .columnFilter({ sPlaceHolder: "head:after",
                                                             aoColumns: [
                        
		        { type: "select", values: [  'BIO-BÍO-001', 'BIO-BÍO-002', 'BIO-BÍO-003', 'SAI-001',  'CQQ-001', 'CQQ-002', 'PUQ-001', 'PUQ-002', 'PUQ-003', 'PTLA-001' ] },
		        { type: "select", values: ['Madera', 'Celulosa', 'Salmón', 'Salmón', 'Vino forwarder', 'Uva pallet', 'Concentrado de cobre', 'Concentrado de cobre', 'Salmón Congelado', 'Lana',  'Carne Congelda',  'Carne Congelda', 'importación de carne '] },
                        
                        { type: "select", values: [ 'Temporal', 'Espacial' ]  },
                                        
                                        
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        
                                        { type: "text" },
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        { type: "text" },
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        
                                           { type: "text" },
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        
                                               { type: "text" },
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        
                                        
                                               { type: "text" },
                                        { type: "text" },
		        { type: "text" },
                                        { type: "text" },
                                        { type: "text" },
                                        { type: "text" }
                                        
                                        
                                        
                                        
                                        
                                        
	
		  

				]

		});
});

             </script>
             
             
<div class="page-content">
    {% block Estudio%}
    
    <table id="Estudio" class="table">
        
         <thead>
            
         <th width="200px">C&oacute;digo</th>
            <th width="200px">Cadena</th>
            <th width="200px">Factor</th>
            <th width="30%">Actividad</th>
            <th width="30%">Costo Unitario</th>
            <th width="20%">Costo de inventario</th>
            <th width="20%">Ver detalle</th>
        </thead>
        
        <thead>
            
            <th width="30%">C&oacute;digo</th>
            <th width="30%">Cadena</th>
            <th width="30%">Factor</th>
            <th width="30%">Actividad</th>
            <th width="30%">Costo Unitario</th>
            <th width="20%">Costo de inventario</th>
            <th width="20%">Ver Detalle</th>
        </thead>
        <tbody>
            {% for estudio in estudio %}
            <tr>
                <td>{{estudio.cadenas.codigo}}</td>
                <td>{{estudio.cadena}}</td>
                <td>{{estudio.factor}}</td>
                <td>{{estudio.actividad}}</td>
                <td>{{estudio.costounitario}}</td>
                <td>{{estudio.COSTODEINVENTARIO}}</td>
                <td><a href="verDetalleEstudio/{{estudio.id}}" class="btn btn-primary">Ver Detalle</a></td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% endblock%}
</div>