<!DOCTYPE html>
    <html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Observatorio y Prospectiva Ltda</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Favicons -->

        
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/opltdapaginas/assets/images/icons/apple-touch-icon-144-precomposed.png') }}">
        
        
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/opltdapaginas/assets/images/icons/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/images/icons/apple-touch-icon-72-precomposed.png">
   
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/opltdapaginas/assets/images/icons/apple-touch-icon-72-precomposed.png') }}">
        
            
        <link rel="shortcut icon" href="{{ asset('bundles/opltdapaginas/assets/images/icons/favicon.png') }}">

       
        <!--[if lt IE 9]>
          <script src="{{ asset('bundles/opltdapaginas/assets/js/minified/core/html5shiv.min.js') }}"></script>
          <script src=" {{ asset('bundles/opltdapaginas/assets/js/minified/core/respond.min.js') }}"></script>
        <![endif]-->

        <!-- AgileUI CSS Core -->

           <link rel="stylesheet" type="text/css" href="{{ asset('bundles/opltdapaginas/assets/css/minified/aui-production.min.css') }}">



        <!-- <link rel="stylesheet" type="text/css" href="../_assets/css/widgets/theme-switcher.css"> -->

        <!-- Theme UI -->
        
        

        <link id="layout-theme" rel="stylesheet" type="text/css" href="{{ asset('bundles/opltdapaginas/assets/themes/minified/agileui/color-schemes/layouts/default.min.css') }}">
        
        
        <link id="elements-theme" rel="stylesheet" type="text/css" href="{{ asset('bundles/opltdapaginas/assets/themes/minified/agileui/color-schemes/elements/default.min.css') }}">


     
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/opltdapaginas/assets/themes/minified/agileui/responsive.min.css') }}">

        <!-- AgileUI Animations -->

           
        
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/opltdapaginas/assets/themes/minified/agileui/animations.min.css') }}">

        <!-- AgileUI JS -->

        
        
        
        
        <script type="text/javascript" src="{{ asset('bundles/opltdapaginas/assets/js/minified/aui-production.min.js') }}"></script>

    </head>
    <body>

      
        <div id="login-page" class="mrg25B">

            <div id="page-header" class="clearfix">
                <div id="page-header-wrapper" class="clearfix">
                    <div id="header-logo">
                        Opltda  /  ESTUDIO DE EVALUACIÓN DE LAS BARRERAS LOGÍSTICAS DE TRANSPORTE DE CARGA A NIVEL NACIONAL<i class="opacity-80"></i>

                        <a href="#" class="tooltip-button" data-placement="bottom" title="Close sidebar" id="close-sidebar">
                            <i class="glyph-icon icon-align-justify"></i>
                        </a>
                        <a href="#" class="tooltip-button hidden" data-placement="bottom" title="Open sidebar" id="rm-close-sidebar">
                            <i class="glyph-icon icon-align-justify"></i>
                        </a>
                        <a href="#" class="tooltip-button hidden" title="Navigation Menu" id="responsive-open-menu">
                            <i class="glyph-icon icon-align-justify"></i>
                        </a>
                    </div>
                    

                </div>
            </div><!-- #page-header -->

        </div>
<img src="assets/images/login-bg.png" class="login-img" alt="">
<div class="ui-widget-overlay bg-black opacity-60"></div>
        <div class="pad20A mrg25T">
            <div class="row mrg25T">

                <form action="{{path('login')}}" class="col-md-4 center-margin form-vertical mrg25T" id="formLogin" method="post">

                    <div class="ui-dialog modal-dialog mrg25T" id="login-form" style="position: relative !important;">
                        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                            <span class="ui-dialog-title">Login </span>
                        </div>
                        <div class="pad20A pad0B ui-dialog-content ui-widget-content">
                           
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        Usuario:
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="form-input-icon">
                                        <i class="glyph-icon icon-envelope-o ui-state-default"></i>
                                        <input  name="usuario" type="text"  id="usuario"   placeholder="Usuario">
                                    </div>
                                </div>
                            </div>
                            
                            <input type="hidden" value="{{token}}" id="token" name="token">
                            
                            

                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        Password:
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="form-input-icon">
                                        <i class="glyph-icon icon-unlock-alt ui-state-default"></i>
                                        <input placeholder="Password" type="password" name="password" id="password">
                                    </div>
                                </div>
                            </div>

                           
                            
                            
                         
                            <div class="form-row">
                                <div class="form-checkbox-radio col-md-6">
                                 
                                </div>
                                <div class="form-checkbox-radio text-right col-md-6">

                                </div>
                            </div>
                        </div>
                        <div class="ui-dialog-buttonpane text-center">
                            <button type="submit" class="btn large primary-bg text-transform-upr font-bold font-size-11 radius-all-4" id="btnLogin" title="Validate!">
                                <span class="button-content">
                                    Login
                                </span>
                            </button>
                                
                                          <div id="respuesta"> </div>
                                          
                        </div>
                    </div>

                    <div class="ui-dialog mrg15T hide" id="login-forgot" style="position: relative !important;">
                        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
                            <span class="ui-dialog-title">Recover password</span>
                        </div>
                        <div class="pad20A ui-dialog-content ui-widget-content">
                            <div class="form-row">
                                <div class="form-label col-md-2">
                                    <label for="">
                                        Email address:
                                    </label>
                                </div>
                                <div class="form-input col-md-10">
                                    <div class="form-input-icon">
                                        <i class="glyph-icon icon-envelope-o ui-state-default"></i>
                                        <input placeholder="Email address" type="text" name="" id="">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="ui-dialog-buttonpane text-center">
                         
                            
                           
                            <a href="javascript:;" switch-target="#login-form" switch-parent="#login-forgot" class="btn large transparent no-shadow toggle-switch font-bold font-size-11 radius-all-4" id="demo-form-valid" >
                                <span class="button-content">
                                    Cancel
                                </span>
                            </a>
                        </div>
                    </div>
                    
                    
           

                </form>

            </div>

        </div>


        <div id="page-footer-wrapper" class="login-footer">
            <div id="page-footer">
        	    Copyright &copy; 2013 - Opltda / Observatorio y Prospectiva Ltda
            </div>
        </div><!-- #page-footer-wrapper -->

        
        <script>
            
            
            
$(document).ready(function() {



    $(document).ready(function() {
        $("#btnLogin").click(function(e) {
            e.preventDefault();
            
      
            var myData = 'usuario='+$("#usuario").val()
                    + '&password='+$("#password").val()
                    + '&token='+$('#token').val();
                    ;


            jQuery.ajax({
                type: "POST", // metodo post o get 
                url: $("#formLogin").attr("action"),
                dataType: "text", // tipo datos text o json etc 
                data: myData,
                success: function(response) {


                    var respuesta = response;
                    
                    console.log(respuesta);


                    if (respuesta == 200) {


                        $('#respuesta').empty();
                        
                       

                         window.location = "principal";


                    } else {
                        respuesta = '\
\n\
\n\
<h5 class="form-signin-heading">Ingrese un usuario valido</h5>';

                        $('#respuesta').empty();

                        $("#respuesta").append(respuesta);


                    }



                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError);



                },
            });
        });
    });


});


            </script>
    </body>
</html>