{# empty Twig template #}


<div id="sidebar-menu" class="scrollable-content" style="width: 220px;">
                      <ul>
                        <li>
                            <a href="{{path('principal')}}" title="Dashboard">
                                <i class="glyph-icon icon-dashboard"></i>
                               Principal
                            </a>
                        </li>
                       
                        <li>
                            <a href="javascript:;" title="Fixed layout">
                                <i class="glyph-icon icon-folder-open"></i>
                              <p>Descargar archivos </p>
                            </a>
                            <ul>
                               <li>
                            <a href="{{ path('listarEntrevista')}}" title="Data visualization">
                                <i class="glyph-icon icon-chevron-right"></i>
                                    Entrevistas.
                            </a>
                        </li>
                             
                        
                            <li>
                            <a href="{{ path('listarInversionVial')}}" title="Data visualization">
                                <i class="glyph-icon icon-chevron-right"></i>
                                        Inversion Vial.
                            </a>
                        </li>
                        
                        
                        
                        
                            <li>
                            <a href="{{ path('listarFocusGroup')}}" title="Data visualization">
                               <i class="glyph-icon icon-chevron-right"></i>
                               Focus Group.
                            </a>
                        </li>
                        
                        
                        
                        
                             <li>
                            <a href="{{ path('listarMemoria')}}" title="Data visualization">
                               <i class="glyph-icon icon-chevron-right"></i>
                            <p style="font-size: 14px;">  Memorias de cálculo.</p>
                            </a>
                        </li>
                        
                        
                        
                              <li>
                            <a href="{{ path('listarFocusGroup')}}" title="Data visualization">
                               <i class="glyph-icon icon-chevron-right"></i>
                            <p style="font-size: 12px;">  Modelamiento  cadenas.</p>
                            </a>
                        </li>
                        
                        
                        
                        
                        
                             <li>
                            <a href="{{ path('listarMapas')}}" title="Data visualization">
                               <i class="glyph-icon icon-chevron-right"></i>
                            <p style="font-size: 12px;">  Mapas.</p>
                            </a>
                        </li>
                        
                        
                        <li>
                            <a href="{{ path('listarModelamiento')}}" title="Data visualization">
                               <i class="glyph-icon icon-chevron-right"></i>
                            <p style="font-size: 12px;">  Listar Modelamiento.</p>
                            </a>
                        </li>
                        
                        
                        
                               
                            </ul>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        <li>
                            <a href="javascript:;" title="Fixed layout">
                                <i class="glyph-icon icon-bar-chart-o"></i>
                           Base datos.
                            </a>
                            <ul>
                               <li>
                            <a href="{{ path('listarEstudio')}}" title="Data visualization">
                                <i class="glyph-icon icon-chevron-right"></i>
                                 Principal
                            </a>
                        </li>
                        
                        
                        
                        
                             
                        
                         
                        
                        
                      
                        
                        
                        
                               
                            </ul>
                        </li>
                        
                        
                        <!-- Prueba de testeo. -->
                      
                    
                        
                        
                    
                         <li>
                            <a href="javascript:;" title="Fixed layout">
                                <i class="glyph-icon icon-bar-chart-o"></i>
                               Guias
                            </a>
                            <ul>
                               <li>
                            <a href="{{ path('listarEntrevista')}}" title="Data visualization">
                                <i class="glyph-icon icon-chevron-right"></i>
                                 Principal
                            </a>
                        </li>
                        
                        
                        
                        
                             
                        
                         
                        
                        
                      
                        
                        
                        
                               
                            </ul>
                        </li>
                        
                        
                        
                        
                       
                        
                        
                        
                        
                        
                        
                        
                     
                        
                     
                        
                        
                     
                              
                               
                    <div class="divider mrg5T mobile-hidden"></div>
                    <div class="text-center mobile-hidden">
                        <div class="button-group">
                            
                            <div style="width: 160px;height: 160px;position:relative;margin:auto;">
                                <img src="{{asset('bundles/opltdapaginas/images/logo.png')}}">
                            
                            </div>
                            
                            
                          
                       
                                <div style="width: 160px;height: 160px;position:relative;margin:auto;margin-top:5%;">
                                <img src="{{asset('bundles/opltdapaginas/images/logoMTT.png')}}">
                            
                            </div>
                            
                            
                            
                        </div>

                        <div class="divider"></div>
                    </div>
                </div>